<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Con" value="Data Source=.\sqlserver; Initial Catalog=LOJADE199ARACA; user ID=sa; password=mikemajesty"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>